body{

    background-color: lightgoldenrodyellow;

}

.caja{

    border: 1px solid rgb(83, 73, 73);
    background-color: azure;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
    flex-grow: 4;
    flex-basis: 30%;

}

.flex-container{

    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
    width: 80%;
    margin: 0px auto;
    align-items: center;
    align-content: center;
}