//anidacion en otro archivo tipo sass o scss
.caja{

    h2{

        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;

    }
    p{

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: underline;

    }

}