*{
    margin: 0px;
    padding: 0px;
}

body{

    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;

}
#container{

    width: 70%;
    margin: 0px auto;
    border: 1px solid rgb(32, 28, 28);

}

header{
    background-color: beige;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color:black;
    border-bottom: 3px dashed;
}

nav{

    background: lightgoldenrodyellow;
    height: 50px;
    border: 1px solid black;
}

nav ul li{

    line-height: 30px;
    float: left;
    list-style: none;
    margin: 10px;


}

.clearfix{

    clear: both;

}

#content{

    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    padding: 40px;

}

.article{

    color: rgb(59, 41, 18);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;

}

.article:first-child{

    padding-right: 10px;
    border-top: 1px solid lightgray;

}

.article h2{

font-size: 25px;

}

aside{
    width: calc(20% - 20px);
    float: left;
    min-height: 500px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;

}

footer{

    color: black;
    background: lightgoldenrodyellow;
    text-align: center;
    height: 50px;
    line-height: 50px;

}